:root {
  --card-width: 142px;
}

body {
  font-family: monospace;
  background: url('../images/pattern-hills.svg') no-repeat;
  background-color: hsl(235, 16%, 14%);
  background-position: bottom;
  background-size: 100%;
  color: #fff;
  height: 100vh;
}
a {
  color: blue;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  height: calc(100vh - 30vh);
}

.panel-header {
  display: flex;
  align-items: center;
  height: 30vh;
}
/*-- welcome --*/
.main-title {
  font-size: 3rem;
}

/*-- centered the panel --*/
.panel-time {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: calc(100% - 100px);
}
.card {
  display: inline-flex;
  flex-direction: column;
  height: 129px;
  margin: 0 10px;
  position: relative;
  width: var(--card-width);
}

/*-- counter number --*/

.card__description {
  position: absolute;
  text-align: center;
  left: auto;
  right: auto;
  width: var(--card-width);
  margin: 0;
  perspective: 200px;
  bottom: -30px;
}

/*-- number flat bg --*/
.card__up,
.card__down {
  border-radius: 10px;
  font-size: 110px;
  height: 50%;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.card__up {
  transform-origin: bottom;
  background: hsl(236deg 19% 32%);
  top: 0;
  z-index: 4;
}
.card__up.active {
  animation: turnUpToDown 0.5s 0.5s linear both;
}
.card__down {
  transform-origin: top;
  background: hsl(236, 21%, 26%);
  bottom: 0;
}
.card__down.active {
  animation: turnDownToUp 0.5s 0.5s linear both;
}
/* line */
.card__up:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.card__up__text {
  position: absolute;
  top: 0;
  left: 10px;
}
.card__down__text {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer img {
  margin: 20px 10px;
}

/* PLAY */

@keyframes asd {
  0% {
    z-index: 2;
  }
  5% {
    z-index: 4;
  }
  80% {
    z-index: 10;
  }
}

@keyframes turnDownToUp {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes turnUpToDown {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.2) 100%);
  animation: show 0.5s linear both;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg 79% 68%);
}
